.mat-mdc-form-field{
    width: 100%;

}

h2{
    font-size: 24px !important;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    
}

mat-icon{
    font-size: 28px;
    line-height: 28px;
    margin-right: 10px;
}