mat-toolbar {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  >button {
    cursor: pointer;
  }
}

.content {
  padding: 24px;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out;
}
