
  mat-dialog-actions {
    display: flex; 
    justify-content: center;
    margin-bottom: 5px;
  }
.dialog-image {
    width: 300px;  /* Ajusta el tamaño según tus necesidades */
    height: auto;  /* Mantiene la proporción de la imagen */
    display: block;
    margin: 0 auto;  /* Centra la imagen horizontalmente */
  }
  